
<div id="contact">

    <ul>
        <li><a href="mailto:oancea.dragosh@gmail.com" class="icon-symbol icon-envelope-alt" rel="mail"></a></li>
        <li><a href="http://www.linkedin.com/in/dragosh" target="_blank" class="icon-symbol icon-linkedin-sign" rel="linkedin"></a></li>
        <li><a href="https://github.com/dragosh" target="_blank" class="icon-symbol icon-github-sign" rel="github"></a></li>
        <li><a href="https://twitter.com/oancea_dragosh" target="_blank" class="icon-symbol icon-twitter-sign" rel="twitter"></a></li>
    </ul>

    <!-- <a href="/assets/data/DragosOanceaZevri-Resume.pdf" data-bypass target="_blank" class="icon-download-alt download-button" rel="download" title="Download Resume"> <span>Download Resume</span></a>
</div> -->
