<div id="experience">
  <h2>Experience</h2>
  <ul>
    <li class="ing">
      <h2>Senior Software Engineer Project Lead at ING - <a href="http://www.ing.com" target="_blank">ing.com</a></h2>
      <h3> <span class="date">March 2019 – present</span>
      </h3>
      <p class="description">Take the initiative in developing and leading the Developer Academy Center as an
        internal project with
        the
        scope of
        creating a Developer Engineer Culture within ING Bank, become developer advocate for best-practices and
        engineering
        craftsmanship surrounding development ecosystem.</p>
      <div class="tasks">
        <strong>Platform</strong>
        <ol>
          <li>Pluggable SDK system which renders markdown format for different types of layouts</li>
          <li>Integrate with existing ecosystem using microservice </li>
          <li>Developer friendly, built for portability</li>
        </ol>
        <strong>Process</strong>
        <ol>
          <li>Trainings and Workshops using multiple formats (webinars, on-site, self-study)</li>
          <li>How to collect feedback in order to improve the internal products</li>
          <li>Help and coach developers in improving their techincal and soft skills</li>
        </ol>
      </div>
    </li>
    <hr>
    <li class="ing">
      <h2>IT Chapter Lead & Senior Javascript Developer - <a href="http://www.ing.com" target="_blank">ing.com</a></h2>
      <h3> <span class="date">February 2017 – March 2019</span>
      </h3>
      <div class="tasks">
        <strong>Management & Coach</strong>
        <ol>
          <li>Manage a group of up to 4 teams on Frontend building blocks infrastructure </li>
          <li>Coach chapter members with regular 1:1</li>
          <li>Hiring, recruiting, and assignment tasks and interviews</li>
        </ol>
        <strong>Way of Working</strong>
        <ol>
          <li>Trainings and Workshops</li>
          <li>Knowledge transfer (documentation, research)</li>
          <li>Team methodology improvement</li>
        </ol>
        <strong>Develop &amp; Maintain :</strong>
        <ol>
          <li>Initiator and maintainer of a side project of ING Developer Academy Center </li>
          <li>Contributing at the global frontend build system</li>
        </ol>
      </div>
    </li>

    <hr>
    <li class="backbase">
      <h2>Senior Javascript Developer - <a href="http://www.backbase.com" target="_blank">backbase.com</a></h2>
      <h3> <span class="date">September 2013 –
          February 2017</span></h3>
      <div class="tasks">

        <strong>Develop &amp; Maintain :</strong>
        <ol>
          <li>CLI tooling</li>
          <li>Frontend architecture and technology stack decisions</li>
          <li>Blueprints and boilerplates</li>
          <li>Collection of tools for rapid development</li>
          <li>Consistent use of appropriate design patterns</li>
          <li>TDD/BDD infrastructure</li>
          <li>Style Guides and Pattern Libraries</li>
          <li>Development and Delivery pipelines</li>
          <li>Continuous Integration automated tasks</li>
          <li>Banking widgets</li>
          <li>Reusable components</li>
        </ol>
        <strong>Way of Working</strong>
        <ol>
          <li>Trainings and Workshops and Pair Programming</li>
          <li>Knowledge transfer (documentation, research)</li>
          <li>Team methodology improvement</li>
          <li>Recruiting assignment tasks and interviews</li>
        </ol>
      </div>
    </li>

    <hr>
    <li class="medicore">
      <h2>Frontend Developer - <a href="http://www.medicore.nl" target="_blank">medicore.nl</a></h2>
      <h3><span class="date">August 2013 – September
          2013</span></h3>

      <div class="tasks">
        <strong>Develop &amp; Maintain :</strong>
        <ol>
          <li>Internal Medical - Multi Page Application using backbone.js, dust and require.js</li>
        </ol>
      </div>
    </li>

    <hr>

    <li class="tpcbf">
      <h2>Senior Web Developer - <a href="http://thispagecannotbefound.com"
          target="_blank">thispagecannotbefound.com</a></h2>
      <h3><span class="date">October 2011 – April 2013</span></h3>

      <div class="tasks">
        <strong>Develop &amp; Maintain :</strong>
        <ol>
          <li>Corporate websites</li>
          <li>Facebook Applications</li>
          <li>Web Mobile Applications (Single Page Applications)</li>
          <li>Internal Infrastructure</li>
        </ol>
      </div>
    </li>

    <hr>

    <li class="kubis">
      <h2>Senior Web Developer - <a href="http://kubisinteractive.com" target="_blank">Kubis Interactive</a></h2>
      <h3> <span class="date">July 2008 –
          October 2011</span></h3>

      <div class="tasks">
        <strong>Develop &amp; Maintain :</strong>
        <ol>
          <li>Promotional Brand Campaigns</li>
          <li>Corporate websites</li>
          <li>Facebook Applications</li>
          <li>Intranet Apps</li>
          <li>Server Administrator (LAMP)</li>
        </ol>
      </div>
    </li>

    <hr>

    <li class="seniorinteractive">
      <h2>Senior Web Developer- <a href="http://seniorinteractive.ro" target="_blank">Senior Interactive</a></h2>
      <h3><span class="date">November 2005
          – July 2008</span></h3>

      <div class="tasks">
        <strong>Develop &amp; Maintain :</strong>
        <ol>
          <li>Promotional Brand Campaigns</li>
          <li>Corporate websites</li>
          <li>Intranet Applications</li>
        </ol>
      </div>
    </li>

    <hr>

    <li class="mirabilis">
      <h2>Junior Web Developer</h2>
      <h3>Mirabilis Media <span class="date">September 2003 – October 2005</span></h3>

      <div class="tasks">
        <ol>
          <li>Maintaining high traffic websites</li>
          <li>Maintaining government website / internal applications</li>
          <li>Creating small websites / intranet applications</li>
          <li>Server Administrator</li>
        </ol>
      </div>
    </li>
  </ul>


</div>
