
<div id="home">

    <a href="/" class="avatar"><img src="/assets/images/avatar.jpg" alt="Dragos Oancea Zevri"></a>
    <div class="about">
        <h2>Dragos Oancea-Zevri</h2>
        <p>I am a <span>Senior Web Developer</span> with more than 17 years experience in building websites, web/desktop applications and development tools, passionate about programming, web technologies and development infrastructure with emphasis on code quality and clean architecture.</p>
    </div>
    <blockquote>
        Design for the future, because it will be here sooner than you think.
        <cite>Eric S. Raymond, "The Art of Unix Programming</cite>
    </blockquote>
</div>
