<div id="skills">
  <h2>Skills</h2>

  <div class="column">
    <h3>Programming</h3>
    <ul>
      <li>
        Javascript ES 3+ / NodeJS 0.8.x+
        <em>WebComponents, AngularJS, React JS, Elm, Backbone, Polymer, jQuery(UI/Mobile), Ionic, RequireJS, Handlebars,
          Mustache, TweenMax, Lodash, Ramda, RxJS</em>
        <em class="inline">NextJS, Electron, Express, Meteor, Socket.IO</em>
      </li>
      <li>Bash, PHP 5.x+, Phyton 3 </li>


    </ul>
  </div>

  <div class="column">
    <h3>Markup / Styling</h3>
    <ul>
      <li>
        (X)HTML(4+), CSS(2+), Sass, LESS
        <em>Bootstrap, Foundation, UIKit, Flat-UI</em>
      </li>
      <li>XML, XPath</li>
    </ul>
    <h3>Data</h3>
    <ul>
      <li>gRPC, GraphQL, JSON2(p), REST</li>

    </ul>
  </div>

  <div class="column">
    <h3>3rd party APIs</h3>
    <ul>
      <li>Google<em class="inline">Maps, Youtube, OAuth2, Analytics</em></li>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>LinkedIn</li>
      <li>Let's encrypt</li>
      <li>Echonest, Spotify</li>
      <li>Cordova</li>
      <li>Tropo</li>
    </ul>
  </div>
  <div class="column">
    <h3>Versioning / Builds / Webservers</h3>
    <ul>
      <li>SVN, Git, HG</li>
      <li>Jenkins, Bamboo</li>
      <li>Webpack, Rollup, Gulp, Grunt, Gradle, Maven, Ant</li>
      <li>Apache 2.x, Nginx 1.x</li>
    </ul>
  </div>


  <div class="column">
    <h3>DBMS</h3>
    <ul>
      <li>
        MySQL 5.x
        <em class="inline">MyISAM, InnoDB</em>
      </li>
      <li>NoSQL
        <em class="inline">MongoDB, CouchDB</em>
      </li>
      <li>PostgreSQL</li>
      <li>InfluxDB</li>
    </ul>
  </div>
  <div class="column">
    <h3>Tools</h3>
    <ul>
      <li>Terminal</li>
      <li>Docker</li>
      <li>Xcode</li>
      <li>Sublime Text, Code, Vim</li>
      <li>DevTools</li>
    </ul>
  </div>

</div>
